<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>More-Recipes Recipe Details</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/aboutrecipe.css">
   </head>
  <body>

    
    <div class="container">
     <nav class="navbar navbar-expand-sm navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
       <a class="navbar-brand" href="index.html">More Recipes</a>
      <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">   
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="profile.html">Profile</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="addrecipe.html">Add Recipe</a>
      </li>
     </ul>
    </div>
  
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
     <ul class="navbar-nav">
      <li class="nav-item">
       <a class="nav-link" href="index.html#popular">Popular Recipes</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="login.html">Logout</a>
      </li>
     </ul>
    </nav>
   </div>

    <div class="jumbotron jumbotron-fluid">
    <div class="container">
     <h1>About Recipe</h1>
      <p>Cooking Methods<br/>Ingredients<br/>Reviews</p>
    </div>
    </div>
  </div>

   <div class="container">
     <div class="media">
       <img class="mr-3" src="images/Baked-Fish-with-Dill-Sour-Cream.jpg" alt="baked fish with cream">
      <div class="media-body">
             <h4>Baked Fish with Dill Sour Cream: Ingredients</h4>

                    <p style="color: grey;">4 fillets of any firm white fish(i used Mahi-Mahi)<br/>
                       3/4 Cup of Sour Cream<br/>
                       1/2 tsp Salt + extra for marinating the fish<br/>
                       1/2 tsp ground Black Pepper + extra for marinating the fish<br/>
                       1/2 tsp Lemon Zest<br/>
                       1/2 tbsp freeze dried Dill (or 1 tsp-fresh dill) + 1/2 tsp (or 1/4 tsp) for the fish<br/>
                       3 cloves of Garlic<br/>
                       3 Green Onions/Scallions<br/>
                       Juice of 1/2 lemon<br/>
                       1/3 cup of Parmesan cheese,grated or powdered<br/>
                       </p>
       
         </div>
        </div>
       </div>             

       <div class="container">
        <h4>Cooking Method</h4>
         <p style="color: grey;">Start with 3/4 of a cup of sour cream (light sour cream, if you'd like) in a mixing bowl and add 1/2 teaspoon of salt, 1/2 teaspoon of ground black pepper, the lemon zest and 1/2 tablespoon of freeze dried dill (or 1 teaspoon of fresh chopped dill) to it.
           Peel and grated 3 cloves of garlic into the bowl, along with the white parts of 3 green onions very finely chopped (save the green parts as a garnish for later).
           Add 1/2 teaspoon of crushed red pepper flakes (or less if you're not a fan of spice at all) and a small squeeze of lemon juice (about 1/4 of a lemon). Mix everything together well and set it aside (in the fridge if you're cooking the fish later).
           Pre-heat your oven to 400F and lightly season your thawed fish fillets (Mahi-Mahi, Halibut and Cod work wonderfully for this recipe!) with some salt, ground black pepper, a sprinkling of dill and a small (about 1/4 of a lemon) squeeze of lemon juice on both sides of the fish.
           Place your fillets in an shallow oven proof casserole dish or parchment lined sheet cake pan and spread the dill sour cream mixture over the fillets in a somewhat even layer. Sprinkle some Parmesan cheese over the top of each fillet.
           Depending on the thickness of your fillets bake your fish for 15-20 minutes and brown the top by sticking them under the broiler for an additional 1-2 minutes, keeping a close eye on them. (My fillets took just 15 minutes to cook and I stuck them under the broiler for 2 minutes to get the browned spots)
           Garnish the baked fish with the chopped green onions we saved from earlier and serve hot with some fresh vegetable side and or pasta or rice. I served the fish with some brown butter and Parmesan orzo and lemon-pepper green beans....mmm! </p>
            <a href="#" target="_blank">
             <img src="images/like.png" style="width:;height:40px;" alt="upvote">
            </a> | <a href="#" target="_blank">
             <img src="images/dislike.png" style="width:;height:40px;" alt="downvote">
            </a>

            <form action="" method="post" style=>
             <input type="comments" id="Inputcomments" class="form-control" placeholder="Comments">
             <input type="submit" value="Post Review">
            </form>
         </div>
        </div>

      <footer>
        <div class = "container">
           &copy More-Recipes 2017
        </div>

      </footer>
    <!-- JavaScript: placed at the end of the document so the pages load faster -->
		<!-- jQuery library -->
	   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <!-- Latest compiled and minified Bootstrap JavaScript -->
	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>