<!-- DOCTYPE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>More-Recipes Home</title>
    <meta charset="utf-8">
    <!-- Viewport Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/index.css">
   </head>
  <body>
    <div class="container">
     <nav class="navbar navbar-expand-sm navbar-light bg-faded">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
       <a class="navbar-brand" href="index.html">More Recipes</a>
       <!-- Links -->
    <div class="collapse navbar-collapse" id="nav-content">   
     <ul class="navbar-nav mr-auto">
      <li class="nav-item">
       <a class="nav-link" href="profile.html">Profile</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="profile.html#favourites">Favourites</a>
      </li>
     </ul>
     <!-- Search -->
     <form class="form-inline" role="search">
      <input type="text" class="form-control">
       <button type="submit" class="btn btn-secondary">Search</button>
     </form>
    </div>
 
  <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
   <ul class="navbar-nav">
    <li class="nav-item">
     <a class="nav-link" href="index.html#popular">Popular Recipes</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="login.html">Log in</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="login.html">Log out</a>
    </li>
  </ul>
 </nav>
</div>

<div class="jumbotron jumbotron-fluid">
 <div class="container">
  <h1>Catalog</h1>
   <p>Do not hesitate to try out our Recipes!</p>
 </div>
</div>

</div>

	<div class="container">
	 <figure class="figure">
    <img src="images/Baked-Fish-with-Dill-Sour-Cream.jpg" class="figure-img img-fluid rounded" alt="Baked Fish with Dill Sour Cream.">
    <figcaption class="figure-caption"><a href="aboutrecipe.html"> Baked Fish with Dill Sour Cream</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/SpinachPuff-Pastry-Rolls.jpg" class="figure-img img-fluid rounded" alt="SpinachPuff Pastry Rolls.jpg">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Spinach Puff Pastry Rolls.jpg<a/></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Cashew-Chicken-Curry.jpg" class="figure-img img-fluid rounded" alt="Cashew Chicken Curry">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Cashew Chicken Curry</a></figcaption>
   </figure>


   <figure class="figure">
    <img src="images/Greek-Marinated-Salmon.jpg" class="figure-img img-fluid rounded" alt="greek marinated salmon">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Greek Marinated Salmon</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Roasted-Portobello-with-Spicy-Shrimp.jpg" class="figure-img img-fluid rounded" alt="Roasted Portobello with Spicy Shrimp.jpgi">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Roasted Portobello</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Jamaican-Jerk-Chicken.jpg" class="figure-img img-fluid rounded" alt="jamaican jerk chicken">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Jamaican Jerk Chicken</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Falafel-Pita.jpg" class="figure-img img-fluid rounded" alt="falafel pita">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Falafel Pita</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Chicken-Masala.jpg" class="figure-img img-fluid rounded" alt="chicken masala">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Chicken Masala</a></figcaption>
   </figure>

   <figure class="figure">
    <img src="images/Chow-Mein.jpg" class="figure-img img-fluid rounded" alt="chow mein">
    <figcaption class="figure-caption"><a href="aboutrecipe.html">Chow Mein</a></figcaption>
   </figure>
  </div>

  <div class="container">
   <h2 id="popular">Popular<hr/>Recipes<h2>
  </div>

  <div class="container">
    <figure class="figure">
     <img src="images/Blackened-Salmon-with-Homemade-Seasoning.jpg" class="figure-img img-fluid rounded" alt="blackened salmon">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Blackened Salmon with Homemade Seasoning</a></figcaption>
    </figure>

    <figure class="figure">
     <img src="images/Spicy-BBQ-Shrimp-With-Crusty-Bread.jpg" class="figure-img img-fluid rounded" alt="Spicy BBQ Shrimp With Crusty Bread">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Spicy BBQ with Shrimp</a></figcaption>
    </figure>

    <figure class="figure">
     <img src="images/Falafel.jpg" class="figure-img img-fluid rounded" alt="falafel">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Falafel</a></figcaption>
    </figure>

    <figure class="figure">
     <img src="images/Falafel-Pita.jpg" class="figure-img img-fluid rounded" alt="falafel pita">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Falafel Pita</a></figcaption>
    </figure>

    <figure class="figure">
     <img src="images/Chicken-Masala.jpg" class="figure-img img-fluid rounded" alt="chicken masala">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Chicken Masala</a></figcaption>
    </figure>

    <figure class="figure">
     <img src="images/Chow-Mein.jpg" class="figure-img img-fluid rounded" alt="chow mein">
     <figcaption class="figure-caption"><a href="aboutrecipe.html">Chow Mein</a></figcaption>
    </figure>
  </div>
</div>

<footer>
  <div class = "container">
    &copy More-Recipes 2017
  </div>
</footer>
    <!-- JavaScript: placed at the end of the document so the pages load faster -->
		<!-- jQuery library -->
	   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> 
    <!-- Latest compiled and minified Bootstrap JavaScript -->
	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>